---
layout: index
permalink: 404.html
title: 404 - Page not found
description: Page not found
eleventyExcludeFromCollections: true
---

{% markdown %}

# {{ site.name }}

## Page not found
Go [home](/){style="font-weight: bold"}

{% endmarkdown %}
