---
tags: j233
nav_title: Home
layout: default
title: "Sync j233-files | J233: Advanced Coding" 
htmlClass: html
bodyClass: main
---

<h1>Sync <a href="https://github.com/journ233/j233-files">j233-files</a> to DataHub</h1>
{# https://datahub.berkeley.edu/user/soo/git-pull?repo=https://github.com/journ233/j233-files #}

<div class="sync">
    <label for="calId">Enter your CalNetID:
    <br><input id="calId" name="calId" placeholder="soo" required />
    </label>
    <br><button id="generateUrl">GENERATE</button> 
    <p id="generatedUrl"></p>
</div>