@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900");

$sans-serif: 'Roboto', Helvetica, Arial, sans-serif;
$monospace: 'Roboto Mono', Courier, monospace;

// nav
$nav-link-color: #fff;
$nav-visited-color: #f2f2f2;


// body text
$text-color: #111;
$hed-color: #333;
$link-color: #2b6dbe;
$visited-color: #2b6dbe;
$link-hover-color: darken(#2b6dbe, 10%);


